{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ datas.site }}</a>
            </div>
            <h2><a class="article-title" href="#">{{ datas.susername }}</a></h2>
            <p class="article-content">{{ datas.password }}</p>
            <img class="article-img" src="{{ image_file }}" />
          </div>
        </article>
{% endblock content %}